<article class="post-full post page no-image" style="margin-top: -4em">
  <section class="post-full-content">
    <div class="post-content" style="padding: 0 1em">
      <h2 id="what-is-custom-songs-central" style="margin-top: 3em">
        What is <em>Custom Songs Central</em>?
      </h2>
      <p>
        <strong>Custom Songs Central (CSC) </strong>
        is a collaborative effort between various charters
        in the community. Together, we provide various charts,
        whether it be in the form of individual releases or
        <strong><a href="/tag/setlists">setlists</a>
        </strong>and<strong> <a href="/tag/monthly-packs">packs</a></strong>,
        which are regularly uploaded on our
        <a href="https://www.youtube.com/channel/UC3Sg3u_tbdLC9dprIhz8XyA">
          YouTube channel
        </a> and promoted on our
        <a href="https://discordapp.com/invite/VCjsZqY">
          Discord server.
        </a>
      </p>

      <p>
        We aim to provide you with the <strong>highest standards</strong> of
        charting: our charts, setlists and packs are thoroughly peer reviewed
        between us and CSC gathers some of the most influential, skilled and
        dedicated charters in the community. Our motivation and ideas are driven
        by the community and we strive to make content that is
        <strong>excellent, accessible and enjoyable.</strong>
      </p>

      <p>
        As such, our recent setlists and packs implement
        <strong>full difficulties</strong>, feature <strong>lyrics</strong>
        and comply to the latest Clone Hero features and advances, such as full time signature support.
      </p>

      <h2 id="who-is-custom-songs-central">
        Who is <em>Custom Songs Central</em>?
      </h2>

      <p>
        Dozens of charters joined and have been included among
        Custom Songs Central.
        <a href="/tag/charters">
          You can learn more about them here.
        </a>
      </p>

      <h2 id="latest-releases" style="margin-bottom: 1.5em">
        Our latest releases
      </h2>
    </div>
  </section>
</article>